/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Sen', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
     font-size: 25px;
     color: #9D785C;
     font-family: 'Baloo Chettan', cursive;
}
h2 {
     font-size: 22px;
     font-family: 'Baloo Chettan', cursive;
}
h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    width: 100%;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 15px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
    
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;

}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 100px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}


/* header section start */

.header_section1 {
    width: 100%;
    float: left;
    background: linear-gradient(90deg, #C4A362 55%, #F9E7CF 55%);/*靛黃占比*/
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
@media (max-width:763px) {
     .header_section1 {
     background: linear-gradient(90deg, #C4A362 85%, #F9E7CF 25%);
     }
}

.header_bg {
    background: #fb6818;
    border-bottom: 1px solid #ffffff;
}

.bg-light {
    background-color: transparent !important;
}

.mr-auto,
.mx-auto {
    text-align: center;
}

.ml-auto,
.mx-auto {
    margin: 0 auto;
}
/*logo大小*/
a.navbar-brand {
    width: 17%;
    max-width: 120px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 3px 5px;
    font-size: 76px;
    color: #fefefd;
    margin: 0px 6px;
    border: 1px solid transparent;
    border-radius: 5px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fefefd;
    border: 1px solid #fefefd;
    
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fefefd;/*白色*/
    border: 1px solid #fefefd;

}

.navbar-brand {
    margin: 0px;
    float: right;
    width: 140%;


}
/*左三*/
.nav-link {
    font-size: 24px;
}
/*logo文字*/
.navbar {
    padding: 10px 10px;
}

.user_icon {
    padding-right: 24px;
}

.login_bt {
    width: 210px;
}

.login_bt ul {
    margin: 0px;
    padding: 0px;
}

.login_bt li a {
    float: left;
    font-size: px;
    color: #001431;/*深藍*/
    text-transform: uppercase;
    padding: 0px 0px 0px 50px;
}

.login_bt li a:hover {
    color: #ffffff;
}


/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding: 100px 0px;

}

.banner_taital_main {
    width: 100%;
    float: left;
    padding: 10px;
    /* padding-right: 100px; */
}
@media (max-width:575px) {
     .banner_text {
          margin-right: 12vw;
     }
}
.banner_taital_main {
     width: 100%;
     float: left;
     padding: 10px;
     /* padding-right: 100px; */
 }

.banner_taital {
    width: 90%;
    font-size: 60px;
    color: #fefefd;
    text-transform: uppercase;
    font-weight: bold;}

.banner_text {
    font-size: 15px;/*文案大小*/
    color: #fefefd;
    line-height:25px;   /* 設定文字行距 */
    letter-spacing: 3px;/* 設定文字間距 */
}

.started_bt {
    width: 170px;
    float: left;
    margin-left: 15px;
    margin-top: 30px;
}

.started_bt a {
    width: 100%;
    float: left;
    padding: 8px 10px;
    color: #ffffff;
    background-color: #e73232;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
}

.started_bt a:hover {
    color: #001431;
    background-color: #ffffff;
}

.readmore_btn {
    width: 170px;
    float: left;
    margin-top: 30px;
}

.readmore_btn a {
    width: 100%;
    float: left;
    padding: 8px 10px;
    color: #ffffff;
    background-color: #e73232;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
}

.readmore_btn a:hover {
    color: #001431;
    background-color: #ffffff;
}

.readmore_btn.active a {
    color: #001431;
    background-color: #ffffff;
}

.banner_img {
    width: 58%;
    margin: 0 auto;
    text-align: center;
}

#banner_slider a.carousel-control-prev {
    left: initial;
    top: 180px;
    right: -14px;
    color: #ffffff;
    background-color: #001431;
}

#banner_slider a.carousel-control-next {
    right: -14px;
    top: 120px;
}

#banner_slider .carousel-control-next,
#banner_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background: #e73232;
    opacity: 1;
    font-size: 16px;
    color: #ffffff;
}

#banner_slider .carousel-control-next:focus,
#banner_slider .carousel-control-next:hover,
#banner_slider .carousel-control-prev:focus,
#banner_slider .carousel-control-prev:hover {
    color: #ffffff;
    background-color: #001431;
}


/* banner section end */
/* services section start */

.services_section {
    width: 100%;
    float: left;
}

.services_section_2 {
    width: 100%;
    float: left;
    background-color: #f8f2e2;
    padding: 90px 0px;
    margin-top: 60px;
}

.corporate_text {
    width: 100%;
    float: left;
    color: #001431;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 0px;
}

p.chunks_text {
    width: 80%;
    float: left;
    font-size: 16px;
    margin: 0px;
    color: #001431;
}

.readmore_button {
    width: 160px;
    float: left;
    margin-top: 30px;
}

.readmore_button a {
    width: 160px;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #001431;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

.service_box .house_icon .image_2 {
    display: none;
}

.service_box:hover .house_icon .image_2 {
    display: block;
}

.service_box:hover .house_icon .image_1 {
    display: none;
}

.service_box:hover .corporate_text {
    color: #C4A362;
}

.service_box:hover .readmore_button a {
    background-color: #C4A362;
    color: #ffffff;
}

.service_box.active .corporate_text {
    color: #C4A362
}

.service_box.active .readmore_button a {
    background-color: #C4A362;
    color: #ffffff;
}

#main_slider a.carousel-control-prev {
    left: 40px;
    top: 130px;
}

#main_slider a.carousel-control-next {
    right: 40px;
    top: 130px;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background: #001431;
    opacity: 1;
    font-size: 16px;
    color: #ffffff;
    border-radius: 100px;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #ffffff;
    background-color: #F9E7CF
}


/* services section end */


/* studies section start */

.studies_section {
    width: 100%;
    float: left;
    padding-bottom: 100px;
}

.studies_taital {
    width: 100%;
    font-size: 60px;
    color: #001431;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold
    
}


.studies_section_2 {
    width: 100%;
    float: left;
    padding: 40px 0px 0px 0px;
}

.studies_box {
    width: 100%;
    float: left;
    background-color: #ffffff;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    height: auto;
    padding: 30px 10px;
    box-shadow: 0px -3px 15px 0px;
}
.coffee_img{
     display: flex;
     justify-content: center;
}
@media (min-width:985px) {
     .coffee_img img{
          width: 18vw;;
     }   
}
@media (max-width:763px) {
     .coffee_img img{
          width: 80vw;;
     }   
}
.coffee_img img{
     aspect-ratio: 4/3;
}

/* Zoom In #1 */

.hover01 figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    object-fit:cover;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    min-height: 370px;
    
}

.hover01 figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.column {
    margin: 15px 0px 0;
    padding: 0;
    box-shadow: 0px 10px 15px 0px;
}

.column:last-child {
    padding-bottom: 30px;
}

.column::after {
    content: '';
    clear: both;
    display: block;
}

figure {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

figure:hover+span {
    bottom: -36px;
    opacity: 1;
}

.introduction_text {
    width: 100%;
    float: left;
    text-align: center;
    display: flex;
    color: #001431;
    font-size: 18px;
    height: 52px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
}

.read_bt {
    width: 170px;
    margin: auto;
    text-align: center;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #664024;
    padding: 10px;
    text-align: center;
    background-color: #F9E7CF;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    text-transform: uppercase;
}

.read_bt a:hover {
    color: #ffffff;
    background-color: #C4A362;
}

.read_bt.active a {
    color: #ffffff;
    background-color: #e53232;
}


/* studies section end */


/* about section start */

.about_section {
    width: 100%;
    float: left;
    background-color: #001431;
    height: auto;
    padding: 90px 0px 40px 0px;
}

.about_text_main {
    width: 100%;
    float: left;
    padding: 100px 0px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fefefd;
    margin: 30px 0px 0px 0px;
}

.about_img {
    width: auto;
    margin-top: 30px;
}

.readmore_bt {
    width: 170px;
    float: left;
    margin-top: 50px;
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #e73232;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}

.readmore_bt a:hover {
    color: #ffffff;
    background-color: #001431;
}


/* about section end */


/* newsletter section start */

.newsletter_section {
    width: 100%;
    float: left;
}

.newsletter_taital_main {
    width: 100%;
    display: flex;
}

.newsletter_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #212120;
    font-weight: bold;
    text-transform: uppercase;
}

hr.newsletter_border_main {
    width: 70%;
    border: 1px solid #212120;
    margin-top: 25px;
}

.email_bt {
    color: #d9d9d8;
    width: 100%;
    height: 60px;
    font-size: 18px;
    background-color: #ffffff;
    padding: 15px 20px 10px 20px;
    border: 0px;
    margin-top: 40px;
    box-shadow: 0px 0px 11px 2px;
}

textarea#comment::placeholder {
    color: #d9d9d8;
}

.subscribe_bt {
    width: 180px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fefefd;
    background-color: #f9bc19;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
}


/* newsletter section end */


/* testimonial section start */

.customer_section {
    width: 100%;
    float: left;
}

.customer_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #001431;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.customer_section_2 {
    width: 100%;
    float: left;
    margin-top: 50px;
}

.box_main {
    width: 100%;
    float: left;
    background-color: #ffffff;
    padding: 0px 50px 0px 50px;
}

.customer_text {
    width: 100%;
    font-size: 14px;
    color: #737372;
    margin: 0 auto;
}

.quick_icon {
    float: right;
}

.customer_main {
    width: 100%;
    margin-top: 50px;
}

.customer_left {
    width: 30%;
    float: left;
}

.customer_right {
    width: 70%;
    float: left;
    margin-top: 40px;
}

.customer_name {
    width: 100%;
    float: left;
    font-size: 26px;
    font-weight: bold;
    color: #e73232;
}

.enim_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #001431;
    margin: 20px 0px 0px 0px;
}

#my_slider a.carousel-control-prev {
    left: 30px;
    top: 190px;
}

#my_slider a.carousel-control-next {
    right: 30px;
    top: 190px;
}

#my_slider .carousel-control-next,
#my_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background: #001431;
    opacity: 1;
    font-size: 18px;
    color: #ffffff;
    border-radius: 100%;
}

#my_slider .carousel-control-next:focus,
#my_slider .carousel-control-next:hover,
#my_slider .carousel-control-prev:focus,
#my_slider .carousel-control-prev:hover {
    color: #ffffff;
    background-color: #e73232
}


/* testimonial section end */


/* news section start */

.news_section {
    width: 100%;
    float: left;
}

.news_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    text-transform: uppercase;
    color: #011430;
    font-weight: bold;
    text-align: center;
}

.news_section_2 {
    width: 98%;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    height: auto;
    padding-bottom: 30px;
    border-radius: 5px;
}

.news_box {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 5px 5px 0px #e9e9e8;
    float: left;
    padding-bottom: 40px;
    margin-top: 30px;
}

.does_taital {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #011430;
    text-align: center;
    font-weight: bold;
    padding-top: 60px;
}

.dummy_text {
    width: 90%;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    color: #011430;
}

#custom_slider a.carousel-control-next {
    right: 0px;
    left: 0px;
    top: 480px;
}

#custom_slider .carousel-control-next,
#custom_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background: #e73232;
    opacity: 1;
    font-size: 18px;
    color: #ffffff;
    border-radius: 100%;
    margin: 0 auto;
    text-align: center;
}

#custom_slider .carousel-control-next:focus,
#custom_slider .carousel-control-next:hover,
#custom_slider .carousel-control-prev:focus,
#custom_slider .carousel-control-prev:hover {
    color: #ffffff;
    background-color: #e73232
}


/* news section end */



.read_bt a:hover {
    color: #3b3b3b;
    
    border: 1px solid #3b3b3b;
}

#main_slider a.carousel-control-prev {
    left: -50px;
    top: 95px;
}

#main_slider a.carousel-control-next {
    right: -50px;
    top: 95px;
    color: #fefefd;
    background-color: #4a4949;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #4a4949;
    background-color: #efefef;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #4a4949;
}


/* 其他營隊 section end */



/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #C89C7E;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 20px;/*靜宜大學 營隊中小營隊 製 2023.05*/
    color: #ffffff;
    text-align: center;
    margin-left: 0px;
}


/* copyright section end */

.margin_top90 {
    margin-top: 90px;
}

















































/*----------------------------   preloader area ----------------------------_______________________________*/

.loader_bg {
     position: fixed;
     z-index: 9999999;
     background: #fff;
     width: 100%;
     height: 100%;
}

.loader {
     height: 100%;
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
}

.loader img {
     width: 4450px;
}


/*-- top--*/

.top.navbar {
     float: right;
     padding-top: 14px !important;
     padding: 0;
}

.top.navbar-dark .navbar-nav .nav-link {
     padding: 0 25px;
     color: #CB7969;/*原色*/
     font-size: 21px;
     line-height: 20px;
     font-weight: 500;
}

.top.navbar-dark .navbar-nav .nav-link:focus,
.top.navbar-dark .navbar-nav .nav-link:hover {
     color: #fec955;/*變黃色*/
     text-decoration: underline !important;
}

.top.navbar-dark .navbar-nav .active>.nav-link,
.top.navbar-dark .navbar-nav .nav-link.active,
.top.navbar-dark .navbar-nav .nav-link.show,
.top.navbar-dark .navbar-nav .show>.nav-link {
     color: #fec955;/*變黃色*/
     text-decoration: underline !important;
}

.navbar-expand-md .navbar-nav {
     padding-right: 10px;
}

.header {
     width: 100%;
     padding: 30px 30px;
     background: transparent;
     position: absolute;
     z-index: 999;
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}


/** Information section **/

.Information_main {
     background: url(../images/四季背景/夏.png);
     background-repeat: no-repeat;
     min-height: 900px;
     background-size: 1520px 850px;
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
     position: relative;
     background-size:100% 100%;/*壓縮圖片*/

}
/*撥放器*/
.Information_main1 {
     position: absolute;
     bottom: -193px;
     right: 1%;
     content: "";
     background: url(../images/四季背景/夏播放.png); /*改圖片*/
     background-repeat: no-repeat;
     width: 259px;
     /*z-index: 9999;*/
     height: 260px;
     cursor: pointer;
     background-size:138px 139px;
}

.text-bg {
     text-align: left;
     padding-right: 71px;
}

.text-bg h1 {
     color: #fff;
     font-size: 50px;
     line-height: 73px;
     padding-bottom: 30px;
}

.text-bg p {
     line-height: 25px;
     font-weight: 500;
     padding-bottom: 0px;
     display: block;
     color: #766355;
     font-size: 14px;/*內文文字大小*/
}

.text_img {
     margin-right: -8px;
}

.text_img figure {
     margin: 0;
}


.text_img figure img {
     width: 100%;
}

.carousel-caption {
     position: inherit;
}

.carousel-inner {
     margin-right: 142px;
}

#Information1 .carousel-indicators {
     left: 6px;
     bottom: 40px;
     display: block;
     margin-left: 0;
     right: inherit;
     top: 36%;
}

#Information1 .carousel-indicators li {
     width: 20px;
     height: 20px;
     border-radius: 20px;
     background: #f6f6f6;
     margin: 7px 0;
}

#Information1 .carousel-indicators li.active {
     background: #ffca56;
     border: #fff solid 6px;
     width: 25px;
     height: 25px;
     margin: 0 !important;
     padding: 0 !important;
}

#Information1 a.carousel-control-next,
#Information1 a.carousel-control-prev {
     display: none;
}

.text-bg a:hover {
     background-color: #ffca56;/*黃色*/
     color: #fff;
     transition: ease-in all 0.5s;
}


/** end Information section **/

.titlepage {
     text-align: left;
     padding-bottom: 60px;

}

.titlepage h2 {
     font-size: 50px;
     color: #664024;
     line-height: 55px;
     padding: 0;
}
.titlepage p {
     color: #797777;
     display: block;
     font-size: 14px;
     font-weight: 400;
     line-height: 30px;
     width: 100%;
}


.read_more {
     font-size: 25px;
     background-color: transparent;
     border: #D1BDF1 solid 2px;
     color: #D1BDF1 !important;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     font-weight: 500;
}

.read_more:hover {
     background: #F9DBB5;
     color: #fff;
     transition: ease-in all 0.5s;
}

.photo {
     background-color: #fff;
     padding-top: 85px;
}

.photo .titlepage .read_more {
     margin-top: 40px;
}

#ho_bg:hover.photo_img img {
     border: #D1BDF1 solid 15px;
     background-color: #ddd;
}

.ho_socal:hover {
     opacity: 1;
}

.ho_socal {
     position: absolute;
     z-index: 9999;
     top: 13px;
     right: 0;
     bottom: 0;
     left: 0;
     transition: .5s ease;
     background-color: #D1BDF1;
     border-radius: 381px;
     width: 242px;
     margin: 0 auto;
     height: 247px;
     opacity: 0;
}

.photo_Carousel .carousel-indicators {
     bottom: -30px;
     align-items: center;
}

.photo_Carousel .carousel-indicators .active {
     background-color: #fff;
     padding: 5px;
     width: 20px;
     height: 20px;
     border: #D1BDF1 solid 4px;/*藍色*/
}

#photo .carousel-control-next,
#photo .carousel-control-prev {
     display: none;
}


/** end Information section **/
/*-----------------------------------------------------------------------*/

/** photo section **/

.photo {
    position: relative;
     bottom: 0;
     content: "";
     background: url(../images/bk.png);
     background-repeat: no-repeat;
     width: 100%;
     height: 160%;
     background-size: 100% 100%;
}

.photo .titlepage h2 {
     font-size: 17px;
     color: #664024;
     line-height: 55px;
     padding: 0;
}

.photo .photo_Carousel .carousel-caption {
     position: inherit;
     padding: 0;
}

.photo_box {
     text-align: center;
}

.photo_img img {
     margin-bottom: 50px;
     border-radius: 220px;
     border: #ddd solid 15px;
}


#ho_bg:hover.photo_img img {
     border: #F9DBB5 solid 15px;
     background-color: #ddd;
}

.ho_socal:hover {
     opacity: 1;
}

.ho_socal {
     position: absolute;
     z-index: 9999;
     top: 13px;
     right: 0;
     bottom: 0;
     left: 0;
     transition: .5s ease;
     background-color: #F9DBB5;
     border-radius: 381px;
     width: 242px;
     margin: 0 auto;
     height: 247px;
     opacity: 0;
}

.photo_Carousel .carousel-indicators {
     bottom: -30px;
     align-items: center;
}

.photo_Carousel .carousel-indicators .active {
     background-color: #fff;
     padding: 5px;
     width: 20px;
     height: 20px;
     border: #183971 solid 4px;
}

#photo .carousel-control-next,
#photo .carousel-control-prev {
     display: none;
}


/** end photo section **/


/** New Experience  section **/

.experience {
     padding: 90px 0;
     background-color: #fff;
     position: relative;
     height: 400px;
}

.experience::before {
     position: absolute;
     bottom: -131px;
     right: -155px;
     content: "";
     background: url(../images/四季背景/夏側.png); /*要改*/
     background-repeat: no-repeat;
     width: 420px;
     height: 100%;
     background-size:338px 338px;
}

.experience .titlepage {
     text-align: left;
}

.experience .titlepage p {
     color: #797777;
     display: block;
     font-size: 14px;
     font-weight: 400;
     line-height: 45px;
     width: 78%;
}

.experience .titlepage h2 {
     font-size: 50px;
     color: #664024;
     line-height: 55px;
     padding: 0;
}


/** end New Experience  section **/


/*-----------------------------------------------------------------------*/
/* 營隊總覽  section start */


.overview_section {
    position: relative;
    background: url(../images/bk.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    background-size: 100% 100%;
}

.overview_taital {
     text-align: center;
     font-size: 50px;
     color: #664024;
     line-height: 55px;
     padding: 0;
}

.overview_section_2 {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.bulit_icon {
    width: 100%;
    text-align: center;
}

.overview_img img {
    width: 100%;
    float: left;
}

.types_text {
    width: 100%;
    float: left;
    font-size: 22px;
    color: #3b3b3b;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}

.looking_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #3b3b3b;
    text-align: center;
    margin: 0px;
}

.read_btC {
    width: 170px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    display: flex;
}

.read_btC a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #d78373;/*粉紅色*/
    text-align: center;
    border-radius: 5px;
    border: 1px solid #d78373;
    text-transform: uppercase;
    padding: 8px;
    margin-bottom: 30px;
}

.read_btC a:hover {
    border: 1px solid #D1BDF1;
    color: #D1BDF1;
}

#main_slider a.carousel-control-prev {
    left: -50px;
    top: 95px;
}

#main_slider a.carousel-control-next {
    right: -50px;
    top: 95px;
    color: #fefefd;/*白色*/
    background-color: #D1BDF1;/*滑鼠上外框顏色*/
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    /*position: absolute;
    bottom: 100;*/
    width: 55px;
    height: 55px;
    opacity: 1;
    font-size: 16px;
    color: #4a4949;/*咖啡*/
    background-color: #efefef;/*白色*/
     
}
/*左右箭頭*/
#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #fefefd;
    background-color: #F9DBB5;
}


/* 其他營隊 section end */


/** contact section **/

.contact {
     background: url(../images/崇正/contact.png);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     padding: 0px 0 10px 0;/*padding: 0px 0 10px 0;*/
     position: relative;
     background: inherit;

}

.contact::before {
     position: absolute;
     bottom: 0;
     left: 0;
     right: 0;
     content: "";
     background: url(../images/四季背景/夏底.png);
     background-repeat: no-repeat;
     width: 100%;
     height: 100%;/*波浪高*/
     background-size: 100% 100%;
}

.contact .titlepage {
     text-align: left;
     padding-bottom: 15px;/*意見回傳上下位置*/
}

.contact .titlepage h2 {
     color: #664024;
}
.main_form {
     margin-right: -32px;

}

/*____________send鍵___________*/

.main_form .contactus {
     border: #02246a solid 1px;/*深藍色*/
     margin-bottom: 21px;
     width: 110%;
     height:17px;
     background: transparent;
     color: #494747;/*棕色*/
     font-size: 18px;
     font-weight: normal;
     border-right: inherit;
     border-left: inherit;
     border-top: inherit;
     margin-top: 30px;

}

/*______Message_________*/

.main_form .contactus1 {
     border: #02246a solid 1px;/*藍色*/
     margin-bottom: 25px;
     width: 100%;
     height: 20px;
     background: transparent;
     color: #494747;/*棕色*/
     font-size: 18px;
     font-weight: normal;
     border-right: inherit;
     border-left: inherit;
     border-top: inherit;
     margin-top: 50px;

}
/*__________send鍵___________*/
.main_form .send_btn {
     position: absolute;
     bottom: 75px;
     right: -15%;

     font-size: 22px;
     transition: ease-in all 0.5s;
     background-color: #90BDA3;
     text-transform: uppercase;
     color: #fff;
     padding: 12px 0px;
     max-width: 85px;
     width: 100%;
     display: block;
     margin-top: 30px !important;
     font-weight: 500;;
}

.main_form .send_btn:hover {
     background-color: #F9DBB5;
     transition: ease-in all 0.5s;
     color: #fff;
}
/*預設淺灰*/
#request *::placeholder {
     color: #959394;
     opacity: 1;
}


/** end contact section **/


/** campfooter **/

.campfooter {
     background: #D0EFDD;
     padding-top: 115px;
     text-align: center;
}

.campfooter .titlepage {
     text-align: left;
     padding-bottom: 0px;
}

.campfooter .titlepage h2 {
     color: #fff;
     margin: inherit;
     border-bottom: #fff solid 1px;
}

.logo1 {
     float: left;
     margin-top: -11px;
     margin-bottom: 9px;
}

ul.social_icon {
     padding-top: 14px;
     width: 100%;
     float: left;
     text-align: left;
}

ul.social_icon li {
     display: inline-block;
}

ul.social_icon li a {
     background: #fff;
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 25px;
     border-radius: 30px;
     margin: 0 3px;
     color: #02246a;
}

ul.social_icon li a:hover {
     background-color: #fff;
     color: #ffca56;
}

.campfooter h3 {
     font-weight: 600;
     font-size: 25px;
     line-height: 24px;
     text-align: left;
     color: #fff;
     margin-bottom: 15px;
     border-bottom: #ffca56 solid 3px;
     padding-bottom: 3px;
     display: table;
}

.about_us li {
     color: #fff;
     font-size: 17px;
     text-align: left;
     display: inline-block;
}

ul.link_menu li {
     display: block;
     text-align: left;
}

ul.link_menu li a {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     padding-bottom: 10px;
     display: block;
     width: -moz-max-content;
}

ul.link_menu li a:hover {
     color: #ffca56;
}

.bottom_form {
     display: flex;
     flex-wrap: wrap;
     margin-top: 32px;
}

.bottom_form h3 {
     font-weight: 600;
     font-size: 20px;
     line-height: 25px;
     text-align: left;
     color: #fff;
     padding-top: 12px;
     margin-right: 93px;
     text-transform: uppercase;
     border: inherit;
}

.bottom_form .enter {
     border: inherit;
     padding: 0px 19px;
     width: 45%;
     height: 45px;
     background: #ffffff;
     color: #ccc8c8;/*粉*/
     font-size: 17px;
     font-weight: 300;
     float: left;
     border-radius: 10px;
     margin-bottom: 20px;
}

.sub_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #ffca56;
     color: #fff;
     padding: 8px 0px;
     max-width: 163px;
     border-radius: 10px;
     width: 100%;
     font-weight: 500;
     text-transform: uppercase;
     margin-left: 7px;
     height: 46px;
}

.sub_btn:hover {
     background-color: #000;
     transition: ease-in all 0.5s;
     color: #fff;
}

.copyright {
     margin-top: 0px;
     padding-bottom: 0px;
}

.copyright p {
     color: #E1BDAA;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
     border-top: #E1BDAA solid 1px;
     padding-top: 25px;
     font-weight: normal;
}

.copyright a {
     color: #ddd;
}

.copyright a:hover {
     color: #ffca56;
}


/** end campfooter **/


/** inner page css **/

.inner_header .header {
     background: #02246a;
     position: inherit;
}

.yellow_darkbg .titlepage {
     padding-bottom: 0;
}

.yellow_darkbg {
     background: #f8c659;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 122px;
}

.about_page .photo {
     padding-bottom: 90px;
}

.contact_page .contact {
     padding-top: 160px;
     margin-top: 90px;
}

.service_page .services {
     padding-bottom: 60px;
}

.blog {
     margin: 90px 0px 60px 0px;
}

.blog .blog_box {
     margin-bottom: 30px;
}

.blog .blog_box h3 {
     text-align: center;
     font-weight: 600;
     font-size: 30px;
     line-height: 30px;
     padding: 30px 0px 40px 0px;
     color: #02246a;
}

.blog .blog_box figure {
     margin: 0;
}

.blog .blog_box figure img {
     width: 100%;
     height: 320px;
}

.blog .blog_box .read_more {
     margin: 0 auto;
     display: block;
}

/*________________________________________四季(冬)______________________________________________________*/

/** InformationW section **/

.InformationW_main {
     background: url(../images/四季背景/冬.png);
     background-repeat: no-repeat;
     min-height: 900px;
     background-size: 1520px 850px;
     display: flex;
     justify-content: center;
     align-content: center;
     align-items: center;
     position: relative;
     background-size:100% 100%;/*壓縮圖片*/

}
/*撥放器*/
.InformationW_main::before {
     position: absolute;
     bottom: -193px;
     right: 1%;
     content: "";
     background: url(../images/四季背景/冬播放.png);
     background-repeat: no-repeat;
     width: 259px;
     /*z-index: 9999;*/
     height: 260px;
     cursor: pointer;
     background-size:138px 139px;
}

.text-bg {
     text-align: left;
     /* padding-right: 71px; */
}

.text-bg h1 {
     color: #fff;
     font-size: 50px;
     line-height: 73px;
     padding-bottom: 30px;
}

.text-bg p {
     line-height: 25px;
     font-weight: 500;
     padding-bottom: 0px;
     display: block;
     color: #766355;
     font-size: 14px;/*內文文字大小*/
}

.text_img {
     margin-right: -8px;
}

.text_img figure {
     margin: 0;
}


.text_img figure img {
     width: 100%;
}

.carousel-caption {
     position: inherit;
}

.carousel-inner {
     margin-right: 142px;
}

#InformationW1 .carousel-indicators {
     left: 6px;
     bottom: 40px;
     display: block;
     margin-left: 0;
     right: inherit;
     top: 36%;
}

#InformationW1 .carousel-indicators li {
     width: 20px;
     height: 20px;
     border-radius: 20px;
     background: #f6f6f6;
     margin: 7px 0;
}

#InformationW1 .carousel-indicators li.active {
     background: #ffca56;
     border: #fff solid 6px;
     width: 25px;
     height: 25px;
     margin: 0 !important;
     padding: 0 !important;
}

#InformationW1 a.carousel-control-next,
#InformationW1 a.carousel-control-prev {
     display: none;
}

.text-bg a:hover {
     background-color: #ffca56;/*黃色*/
     color: #fff;
     transition: ease-in all 0.5s;
}


/** end InformationW section **/
/** New ExperienceW  section **/

.experienceW {
     padding: 10px 0;
     background-color: #fff;
     position: relative;
     height: 300px;
}

.experienceW::before {
     position: absolute;
     bottom: 0px;
     right: -155px;
     content: "";
     background: url(../images/四季背景/冬側.png);
     background-repeat: no-repeat;
     width: 420px;
     height: 90%;
     background-size:338px 338px;
}

.experienceW .titlepage {
     text-align: left;
}

.experienceW .titlepage p {
     color: #797777;
     display: block;
     font-size: 14px;
     font-weight: 400;
     line-height: 25px;
     width: 78%;
     position: relative;
     z-index: 2;
}

.experienceW .titlepage h2 {
     font-size: 20px;
     color: #664024;
     line-height: 25px;
     padding: 0;
}


/** end New ExperienceW  section **/


/** contactW section **/

.contactW {
     background: url(../images/崇正/contact.png);
     background-repeat: no-repeat;
     background-size: 100% 100%;
     position: relative;
     object-fit: cover;
     background: inherit;

}

.contactW::before {
     position: absolute;
     bottom: 0;
     content: "";
     background: url(../images/四季背景/冬底.png);
     background-repeat: no-repeat;
     width: 100%;
     height: 100%;
     background-size: 100% 100%;
}

.contactW .titlepage {
     text-align: left;
     padding-bottom: 15px;/*意見回傳上下位置*/
}

.contactW .titlepage h2 {
     color: #664024;
}
.main_form {
     margin-right: -32px;

}


.main_form .contactWus {
     border: #02246a solid 1px;/*深藍色*/
     margin-bottom: 21px;
     width: 110%;
     height:17px;
     background: transparent;
     color: #494747;/*棕色*/
     font-size: 18px;
     font-weight: normal;
     border-right: inherit;
     border-left: inherit;
     border-top: inherit;
     margin-top: 30px;

}

/*______Message_________*/

.main_form .contactWus1 {
     border: #02246a solid 1px;/*藍色*/
     margin-bottom: 25px;
     width: 100%;
     height: 20px;
     background: transparent;
     color: #494747;/*棕色*/
     font-size: 18px;
     font-weight: normal;
     border-right: inherit;
     border-left: inherit;
     border-top: inherit;
     margin-top: 50px;

}
/*__________send鍵___________*/
.main_form .send_btnW {
     position: absolute;
     bottom: 75px;
     right: -15%;

     font-size: 22px;
     transition: ease-in all 0.5s;
     background-color: #90AED8;
     text-transform: uppercase;
     color: #fff;
     padding: 12px 0px;
     max-width: 85px;
     width: 100%;
     display: block;
     margin-top: 30px !important;
     font-weight: 500;;
}

.main_form .send_btnW:hover {
     background-color: #F9DBB5;
     transition: ease-in all 0.5s;
     color: #fff;
}
/*預設淺灰*/
#request *::placeholder {
     color: #959394;
     opacity: 1;
}


/** end contactW section **/



/** campfooterW **/

.campfooterW {
     background: #CCE1F2;
     padding-top: 115px;
     text-align: center;
}

.campfooterW .titlepage {
     text-align: left;
     padding-bottom: 0px;
}

.campfooterW .titlepage h2 {
     color: #fff;
     margin: inherit;
     border-bottom: #fff solid 1px;
}

.logo1 {
     float: left;
     margin-top: -11px;
     margin-bottom: 9px;
}

ul.social_icon {
     padding-top: 14px;
     width: 100%;
     float: left;
     text-align: left;
}

ul.social_icon li {
     display: inline-block;
}

ul.social_icon li a {
     background: #fff;
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 25px;
     border-radius: 30px;
     margin: 0 3px;
     color: #02246a;
}

ul.social_icon li a:hover {
     background-color: #fff;
     color: #fec955;
}

.campfooterW h3 {
     font-weight: 600;
     font-size: 25px;
     line-height: 24px;
     text-align: left;
     color: #fff;
     margin-bottom: 15px;
     border-bottom: #ffca56 solid 3px;
     padding-bottom: 3px;
     display: table;
}

.about_us li {
     color: #fff;
     font-size: 17px;
     text-align: left;
     display: inline-block;
}

ul.link_menu li {
     display: block;
     text-align: left;
}

ul.link_menu li a {
     color: #fff;
     font-size: 17px;
     line-height: 28px;
     padding-bottom: 10px;
     display: block;
     width: -moz-max-content;
}

ul.link_menu li a:hover {
     color: #ffca56;
}

.bottom_form {
     display: flex;
     flex-wrap: wrap;
     margin-top: 32px;
}

.bottom_form h3 {
     font-weight: 600;
     font-size: 20px;
     line-height: 25px;
     text-align: left;
     color: #fff;
     padding-top: 12px;
     margin-right: 93px;
     text-transform: uppercase;
     border: inherit;
}

.bottom_form .enter {
     border: inherit;
     padding: 0px 19px;
     width: 45%;
     height: 45px;
     background: #ffffff;
     color: #ccc8c8;
     font-size: 17px;
     font-weight: 300;
     float: left;
     border-radius: 10px;
     margin-bottom: 20px;
}

.sub_btn {
     font-size: 17px;
     transition: ease-in all 0.5s;
     background-color: #ffca56;
     color: #fff;
     padding: 8px 0px;
     max-width: 163px;
     border-radius: 10px;
     width: 100%;
     font-weight: 500;
     text-transform: uppercase;
     margin-left: 7px;
     height: 46px;
}

.sub_btn:hover {
     background-color: #000;
     transition: ease-in all 0.5s;
     color: #fff;
}

.copyright {
     margin-top: 0px;
     padding-bottom: 0px;
}

.copyright p {
     color: #E1BDAA;
     font-size: 18px;
     line-height: 22px;
     text-align: center;
     border-top: #E1BDAA solid 1px;
     padding-top: 25px;
     font-weight: normal;
}

.copyright a {
     color: #ddd;
}

.copyright a:hover {
     color: #ffca56;
}


/** end campfooterW **/


/** innerW  page css **/

.innerW _header .header {
     background: #02246a;
     position: inherit;
}

.yellow_darkbg .titlepage {
     padding-bottom: 0;
}

.yellow_darkbg {
     background: #f8c659;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 122px;
}

.about_page .photo {
     padding-bottom: 90px;
}

.about_page .photo .titlepage h3 {
     color: #02246a;
}

.about_page .photo .titlepage p {
     float: left;
}

.contactW _page .contactW  {
     padding-top: 160px;
     margin-top: 90px;
}

.service_page .services {
     padding-bottom: 60px;
}

.blog {
     margin: 90px 0px 60px 0px;
}

.blog .blog_box {
     margin-bottom: 30px;
}

.blog .blog_box h3 {
     text-align: center;
     font-weight: 600;
     font-size: 30px;
     line-height: 30px;
     padding: 30px 0px 40px 0px;
     color: #02246a;
}

.blog .blog_box figure {
     margin: 0;
}

.blog .blog_box figure img {
     width: 100%;
     height: 320px;
}

.blog .blog_box .read_more {
     margin: 0 auto;
     display: block;
}
